<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>B*ng!!!!!!</title>
<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
	<!-- <img src="/data/image/hero/Hero-BartCassidy.jpg" alt="aaa" class="img-thumbnail"> -->
	<div ng-app="myapp">
		<div ng-controller="FirstCtrl">
			<!-- 			<button type="button" class="btn btn-info btn-lg" ng-click="showdialog()" -->
			<!-- 				data-target="#dialogSelectHero">Open Modal</button> -->
			<!-- 				<button type="button" class="btn btn-info btn-lg" ng-click="closedialog() -->
			<!-- 				data-target="#dialogSelectHero">Close Modal</button> -->

			<!-- 			Modal -->
			<div id="dialogSelectUser" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content" style="width: max-content;">
						<div class="modal-header">
							<h4 class="modal-title">Select player:</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>

						</div>
						<div class="modal-body">
							<select ng-model="selectedUser"
								ng-options="user for user in userCanBeAffectList"></select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success"
								data-dismiss="modal" ng-click="okUserDialogFunc()">OK</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								ng-click="canceUserDialoglFunc()">Cancel</button>
						</div>
					</div>

				</div>
			</div>
			<div id="dialogSelectHero" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="width: max-content;">
						<div class="modal-header">
							<h4 class="modal-title">{{dialogTitle}}</h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div class="col-12" style="display: -webkit-box;">
										<div ng-repeat="hero in heros" class="item-hero-card">
											<div class="item-hero-image-dialog">
												<h2 ng-show="!modeImage">{{hero.name}}</h2>
												<img ng-show="modeImage" ng-src="{{hero.image}}"
													alt="{{hero.name}}" class="img-thumbnail item-dialog-image">
											</div>
											<button type="button" data-dismiss="modal"
												ng-click="heroPickFunc(hero.id)" class="btn-sm btn-primary">Pick</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- for remove card when ending turn and general store -->
			<div id="dialogSelectCard" class="modal fade" role="dialog">
				<div class="modal-dialog"
					style="display: flex; justify-content: center;">
					<!-- Modal content-->
					<div class="modal-content" style="width: max-content;">
						<div class="modal-header">
							<h4 class="modal-title">Select card to
								{{dialogSelectCardTitle}}</h4>
							<button type="button" class="close" data-dismiss="modal"
								ng-show="actionType === 'RemoveCard'">&times;</button>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div class="col-12"
										style="display: flex; justify-content: center; width: max-content;">
										<div ng-repeat="card in cards" class="item-hero-card">
											<div class="item-card-hand-image-div">
												<img ng-show="modeImage" ng-src="{{card.image}}"
													alt="{{card.name}}" class="img-thumbnail item-dialog-image">
											</div>
											<button type="button" data-dismiss="modal"
												ng-click="pickCardToRemoveFunc(card.id)"
												class="btn btn-primary">{{dialogSelectCardActionStr}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="dialogSelectCardPC" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="width: max-content;">
						<div class="modal-header">
							<h4 class="modal-title">Select card to
								{{dialogSelectCardTitle}}</h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div class="col-12" style="display: -webkit-box;">
										<div ng-repeat="card in cards" class="item-hero-card">
											<div class="item-hero-image-dialog">
												<h2 ng-show="!modeImage">{{card.name}}</h2>
												<img ng-show="modeImage" ng-src="{{card.image}}"
													alt="{{card.name}}" class="img-thumbnail item-dialog-image">
											</div>
											<button type="button" data-dismiss="modal"
												ng-click="pickCardToRemoveFuncPC(card.id)"
												class="btn btn-primary">{{dialogSelectCardActionStr}}</button>
										</div>
										<div class="random-from-hand-button">
											<button type="button" data-dismiss="modal"
												ng-click="pickCardToRemoveFuncPCRandom()"
												class="btn btn-primary">Random from Hand</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="usernamePage" ng-show="usernamePage">
				<input type="text" class="form-control" id="name"
					ng-model="userName" placeholder="Username" autocomplete="off">
				<button type="submit" ng-click="joinFunc()" class="btn btn-success">Join</button>
			</div>

			<div id="waitingPage" ng-show="waitingPage">
				<h4>{{notifyMessage}}</h4>
			</div>
			<div id="serverPage" ng-show="serverPage"></div>

			<div id="mainPage" ng-show="mainPage">
				<div class="container" style="max-width: 100%;">
					<div class="row">
						<div class="col-12"
							style="display: flex; justify-content: center;"
							id="charaterListElement">
							<div ng-repeat="character in characters" style="width: 183px">
								<div class="container" style="padding: 0 0 0 0;">
									<div class="page-header"
										style="text-align: center; color: brown;">
										<h3 ng-show="character.userName !== userName"
											style="margin-bottom: 0;">{{character.userName}}</h3>
										<h3 ng-show="character.userName === userName"
											style="margin-bottom: 0;">You</h3>
									</div>
								</div>
								<div class="item-hero-image-div"
									ng-class="(characterTurn === character.userName) ? 'notify-charater' : ''">
									<img ng-show="modeImage" ng-src="{{character.hero.image}}"
										alt="{{character.hero.name}}"
										class="img-thumbnail item-hero-image1">
									<div style="display: flow-root;">
										<img ng-src="{{character.roleImage}}"
											class="img-thumbnail item-role-mage">
										<div class="table-responsive" style="margin-top: -1px;">
											<table class="table"
												style="margin-bottom: 0rem; width: 54px; font-size: 14px;">
												<thead>
													<tr style="text-align: center;">
														<th style="font-size: 14px; padding: 0 0 0 0;">Life</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td
															style="padding: 0rem; text-align: center; font-size: 14px;">{{character.lifePoint}}/{{character.capacityLPoint}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="table-responsive">
											<table class="table"
												style="margin-bottom: 0rem; width: 54px; font-size: 14px;">
												<thead>
													<tr style="text-align: center;">
														<th style="font-size: 14px; padding: 0 0 0 0;">Cards</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td
															style="padding: 0rem; text-align: center; font-size: 14px;">{{character.numCardsInHand}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="flex-container-weapon">
									<div ng-repeat="card in character.cardsInFront">
										<h2 ng-show="!modeImage">{{card.name}}</h2>
										<img ng-show="modeImage" ng-src="{{card.image}}"
											alt="{{card.name}}"
											class="img-thumbnail item-card-in-front-hero">
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-12"
							style="display: flex; justify-content: center;">
							<div>
								<div class="page-header"
									style="text-align: center; color: brown; width: 122px;">
									<h5 style="margin-bottom: 0;">OldCard</h5>
								</div>
								<div style="width: 121px; height: 180px;">
									<h2 ng-show="!modeImage">{{oldCard.name}}</h2>
									<img ng-show="modeImage" ng-src="{{oldCard.image}}"
										alt="{{oldCard.name}}" class="img-thumbnail item-card-image">
								</div>
							</div>
							<div>
								<div class="page-header"
									style="text-align: center; color: brown;">
									<h5 style="margin-bottom: 0;">Notification</h5>
								</div>
								<ul id="messageArea" class="ul-server-notification">
								</ul>
							</div>
							<div>
								<div class="page-header"
									style="text-align: center; color: brown;">
									<h5 style="margin-bottom: 0;">Chatting</h5>
								</div>
								<ul id="chattingArea" class="ul-server-notification">
								</ul>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-12"
							style="display: flex; justify-content: center;">

							<div style="width: 130px;">
								<button type="button"
									ng-show="userName === playerUsingCard && (userName !== characterTurn || actionType === 'Duello')"
									ng-click="lostLifePointFunc()" class="btn btn-primary">Lose
									life point</button>
								<button type="button"
									ng-show="userName === playerUsingCard && userName !== characterTurn && userName === playerUsingBarrel"
									ng-click="useBarrelCardFunc()" class="btn btn-primary">Barrel</button>
								<button type="button" class="btn btn-info"
									ng-show="userName === playerDrawingCard && userName === characterTurn"
									ng-click="drawFunc()">Draw</button>
								<button type="button" class="btn btn-info"
									ng-show="userName === playerGettingCard && userName === characterTurn"
									ng-click="getCardFunc()">Get Card</button>
								<button type="button" class="btn btn-info"
									ng-click="useHeroSkillFunc()">Use Hero'skill</button>
								<button type="button" class="btn btn-info"
									ng-show="playerUsingCard === characterTurn && userName === characterTurn && actionType !== 'Duello'"
									ng-click="endTurnFunc()">End Turn</button>
							</div>
							<div>
								<div class="page-header"
									style="text-align: center; color: brown; width: 100%;">
									<h5 style="margin-bottom: 0;">Your cards</h5>
								</div>
								<div class="flex-container">
									<div ng-repeat="card in cardsInHand" class="item-hero-card">
										<div class="item-hero-image-div">
											<h2 ng-show="!modeImage">{{card.name}}</h2>
											<img ng-show="modeImage" ng-src="{{card.image}}"
												alt="{{card.name}}" class="img-thumbnail item-card-image">
										</div>
										<button type="button" ng-show="playerUsingCard === userName"
											ng-click="useCardFunc(card.id)" class="btn btn-primary">Use</button>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 					<div class="row"> -->
					<!-- 						<div class="col-10" style="display: -webkit-box;"> -->

					<!-- 						</div> -->
					<!-- 						<div class="col-2" -->
					<!-- 							style="display: -webkit-box; text-align: center; width: 100px; height: 120px; margin: 0 2px 0 2px; padding: 5px 0 2px 0;"> -->
					<!-- 							<button type="button" -->
					<!-- 								ng-show="userName === playerUsingCard && (userName !== characterTurn || actionType === 'Duello')" -->
					<!-- 								ng-click="lostLifePointFunc()" class="btn btn-primary">Lose -->
					<!-- 								life point</button> -->
					<!-- 							<button type="button" -->
					<!-- 								ng-show="userName === playerUsingCard && userName !== characterTurn && userName === playerUsingBarrel" -->
					<!-- 								ng-click="useBarrelCardFunc()" class="btn btn-primary">Barrel</button> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- 					<br> -->

					<!-- 					<div class="row"> -->
					<!-- 						<div class="col-12" style="display: -webkit-box;"> -->
					<!-- 												<form id="formGetCard" class="form-group hidden"> -->
					<!-- 													<button type="button" class="btn btn-info">Get Card</button> -->
					<!-- 												</form> -->
					<!-- 							<form id="drawsForm" class="form-group"> -->
					<!-- 								<button type="button" class="btn btn-info" -->
					<!-- 									ng-show="userName === playerDrawingCard && userName === characterTurn" -->
					<!-- 									ng-click="drawFunc()">Draw</button> -->
					<!-- 							</form> -->
					<!-- 							<form id="testForm" class="form-group"> -->
					<!-- 								<button type="button" class="btn btn-info" -->
					<!-- 									ng-show="userName === playerGettingCard && userName === characterTurn" -->
					<!-- 									ng-click="getCardFunc()">Get Card</button> -->
					<!-- 							</form> -->
					<!-- 							<form id="testForm1" class="form-group"> -->
					<!-- 								<button type="button" class="btn btn-info" -->
					<!-- 									ng-click="useHeroSkillFunc()">Use Hero'skill</button> -->
					<!-- 							</form> -->
					<!-- 							<form id="testForm2" class="form-group"> -->
					<!-- 								<button type="button" class="btn btn-info" -->
					<!-- 									ng-show="playerUsingCard === characterTurn && userName === characterTurn && actionType !== 'Duello'" -->
					<!-- 									ng-click="endTurnFunc()">End Turn</button> -->
					<!-- 							</form> -->

					<!-- 						</div> -->
					<!-- 					</div> -->
				</div>
			</div>
		</div>

	</div>
	<script src="/js/stomp.min.js"></script>
	<script src="/js/sockjs.min.js"></script>
	<script src="/vendor/jquery/dist/jquery.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/vendor/angular/angular.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>