body {
/*    background-image: url("/data/image/others/Background.jpg"); */
   background-color: papayawhip;
}


[ng-cloak] {
	display: none !important;
}



.main-player {
	width: 380px;
}

.my-alert {
	margin-bottom: 0;
}

.check-card-message {
	display: block;
	margin-left: 50px;
	color: red;
}

.life-point-title {
	font-size: 16px;
	padding: 0 0 0 0;
	text-align: center;
}

.life-point-number {
	padding: 0rem;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}

.card-in-hand-title {
	font-size: 16px;
	padding: 0 0 0 0;
	text-align: center;
}

.card-in-hand-number {
	padding: 0rem;
	text-align: center;
	font-weight: 500;
	font-size: 22px;
}

.other-player {
	width: 188px;
	margin: 0 3px 0 3px;
}

.item-hero-card {
	display: flow-root;
	text-align: center;
}

.item-hero-image-countdown {
	position: relative;
	text-align: center;
	color: red;
	font-size: -webkit-xxx-large;
}

.item-hero-countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.item-hero-action {
	color: blue;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 86%;
/* 	right: -48%; */
	left: 7%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	/* overflow: hidden; */
	white-space: nowrap;
}

.item-hero-image {
	text-align: center;
	/* 	border: solid; */
	width: 100px;
	/* 	height: 120px; */
	margin: 0 2px 2px 2px;
	/* 	padding: 5px 0 2px 0; */
	/* 	border: 3px solid; */
	border-radius: 7px;
}

.li-server-notification {
	border-bottom: 1px solid #f4f4f4;
	padding: 3px 0px 3px 0px;
	font-size: 17px;
	color: #f35626;
	margin-left: -40px;
	padding-left: 10px;
	margin-bottom: 2px;
}

.ul-server-notification {
	height: 208px;
	width: 360px;
	overflow: auto;
	overflow-y: scroll;
	list-style-type: none;
}

.ul-chating-notification {
	margin-bottom: 0px;
	height: 170px;
	width: 360px;
	overflow: auto;
	overflow-y: scroll;
	list-style-type: none;
}

.item-hero-image-div {
	margin: 0 2px 2px 2px;
	display: -webkit-box;
	height: 183px;
	border: solid;
	border-color: #dee2e6;
	border-radius: 0.35rem;
}

.random-from-hand-button {
	width: 200px;
	text-align: center;
	padding-top: 125px;
}

.item-hero-image-dialog {
	margin: 0 2px 2px 2px;
	display: -webkit-box;
	border: solid;
	border-color: #dee2e6;
	border-radius: 0.35rem;
}

.item-card-hand-image-div {
	margin: 0 2px 2px 2px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container-weapon {
	display: flex;
	flex-wrap: wrap;
	height: 180px;
}

.item-dialog-image {
	width: 200px;
	height: 300px;
}

.item-dialog-image-zoom {
	width: 400px;
	height: 600px;
	margin-left: 7px;
}

.item-card-image {
	width: 120px;
	height: 177px;
}

.item-hero-image1 {
	width: 120px;
	height: 177px;
	cursor: pointer;
}

.item-role-mage {
	width: 53px;
	margin-top: 0px;
	height: 59px;
	animation-duration: 3s;
}

.hero-info-card-hand-td {
	padding: 0rem;
	text-align: center;
	border-top: 1px solid #dee2e6;
}

.life-point {
	padding: 0rem;
}

.item-card-in-front-hero {
	width: 60px;
	height: 90px;
}

.item-card-name {
	
}

.item-card-id {
	display: none;
}

.panel-pick-card {
	text-align: center;
	width: 100%;
}

.hidden {
	display: none;
}

.notify-charater {
	border: solid;
	border-color: blue;
}

.message-li {
	width: 100%;
	padding: 3px 3px 3px 3px;
	border-bottom: 1px solid #f4f4f4;
}

.message-ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	height: 100px;
	padding: 0 20px 0px 20px;
	width: 100%;
	/* 	        height: calc(100% - 150px); */
}

.message-p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
	margin-top: 0;
	margin-bottom: 0;
}