.main-player {
	width: 380px;
}

.other-player {
	width: 188px;
	margin: 0 3px 0 3px;
}

.item-hero-card {
	display: flow-root;
	text-align: center;
}

.item-hero-image {
	text-align: center;
	/* 	border: solid; */
	width: 100px;
	/* 	height: 120px; */
	margin: 0 2px 2px 2px;
	/* 	padding: 5px 0 2px 0; */
	/* 	border: 3px solid; */
	border-radius: 7px;
}

.item-hero-image-div {
	margin: 0 2px 2px 2px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container-weapon {
	display: flex;
	flex-wrap: wrap;
	height: 180px;
}

.item-dialog-image {
	width: 200px;
	height: 300px;
}

.item-card-image {
	width: 140px;
	height: 210px;
}

.item-hero-image1 {
	width: 120px;
	height: 180px;
}

.life-point {
	padding: 0rem;
}

.item-card-in-front-hero {
	width: 60px;
	height: 90px;
}

.item-card-name {
	
}

.item-card-id {
	display: none;
}

.panel-pick-card {
	text-align: center;
	width: 100%;
}

.hidden {
	display: none;
}

.notify-charater {
	border: solid;
	border-color: blue;
}

.message-li {
	width: 100%;
	padding: 3px 3px 3px 3px;
	border-bottom: 1px solid #f4f4f4;
}

.message-ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	height: 100px;
	padding: 0 20px 0px 20px;
	width: 100%;
	/* 	        height: calc(100% - 150px); */
}

.message-p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
	margin-top: 0;
    margin-bottom: 0;
}